* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.showcasing {
    background-color: #343897;
    color: #fff;
    height: 50vh;
}

.showcase {
    background-color: #343897;
    color: #fff;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.6;
}

.showcase h2 {
    margin-bottom: 1rem;
}

.right-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
/*    fix this code*/
/* .right-image img {
    width: fit-content;
} */

.container-main {
    text-align: center;
    background: rgb(255, 255, 255);
    background-color: #ffffff !important;
    padding: 2rem;
    margin: 1rem;
}

.container-main h4 {
    margin: 2rem 0;
}

.app-features {
    display: flex;
    margin: 0 0 4rem 0;
    justify-content: space-around;
    align-items: center;
 
}

.app-feature-item {
    border: 1px solid #dadada;
    box-shadow: 1px 2px 3px #ccc;  
    margin: 0 2rem 0 0;
    width: 20rem;
    padding: 1rem;
}

.app-feature-item > div {
    width: 8rem;
    height: 8rem;
    border: 2px solid #dadada;
    border-radius: 50%;
    margin: 0 auto;
}

.app-feature-item .app-feature-text {
    font-weight: 600;
    margin: 0.7rem auto;
}

.app-feature-item .feature-text {
    text-align: center;
    padding: 1rem;
}

img {
    padding: 2rem 0 0 0;
}

.news-letter .news-letter-text {
    font-weight: 700;
    font-size: 2rem;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 70%;
    margin-bottom: 15px;
}
.icon {
    padding: 5px 15px;
    background: #343897;
    color: white;
    display: inline-block;
    text-align: center;
}

.input-field {
    width: 100%;
    outline: none;
}

.input-field:focus {
    border: 2px solid #343897;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}


@media screen and (max-width:675px) {
    .showcase {
        background-color: #343897;
        color: #fff;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 1.6;
        padding: 1rem 1rem;
    }
    
    
    .app-features {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
    }
    .app-features .app-feature-item {
        border: 1px solid #dadada;
        justify-content: space-between;
        box-shadow: 1px 2px 3px #ccc;  
        margin: 0 0 3rem 0;
        width: 20rem;
    }
}


